h2 {
    text-align: center;
}

.container {
    background-color: whitesmoke;
    width: 800px;
    margin: auto;
    border: 1px solid red;
}

.form {
    width: 500px;
    border: 1px solid black;
    padding: 20px;
    margin: auto;
}

.planet-container {
    width: 750px;
    display: grid;
    grid-template-areas: 'a a';
    grid-auto-columns: 300px;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    padding: 10px;
    margin: auto;
}

.planet {
    width: 270px;
    border: 1px solid orange;
    padding: 10px;
}

.items {
    width: 250px;
    padding: 10px;
    border: 1px solid green;
}

span.left_column {
    font-weight: bold;
}

span.right_column {

}

.notes-container {
    width: 425px;
    border: 1px solid green;
    padding: 10px;
}

.notes {
    border: 1px solid black;
    padding: 10px;
}

.note {
    border: 1px solid yellow;
    padding: 10px;
}