body {
    /*
    background-image: url(../img/stars.jpg);
    */
}

h2 {
    text-align: center;
}

.container {
    background-color: white;
    width: 800px;
    margin: auto;
    border: 1px solid red;
}

.filter {
    width: 300px;
    border: 1px solid black;
    padding: 5px;
    margin: auto;
}

.filter label {
    padding: 5px;
}

.add-planet-form {
    width: 400px;
    border: 1px solid black;
    padding: 20px;
    margin: auto;
}

.add-planet-form .radio {
    border: 1px solid black;
    width: 150px;
    padding: 10px;
}

.add-planet-form textarea {
    resize: none;
    overflow: hidden;
    height: 30px;
    width: 350px;
}

.edit-planet-form textarea {
    resize: none;
    overflow: hidden;
    height: 30px;
    width: 170px;
}

.add-planet-btn {
    padding: 5px;
    text-align: center;
}

.add-planet-btn button {
    background-color: gainsboro;
}

.add-note-form {
    width: 350px;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
}

.add-note-form textarea {
    resize: none;
    overflow: hidden;
    height: 70px;
    width: 295px;
}

.planet-container {
    width: 750px;
    display: grid;
    grid-template-areas: 'a a';
    grid-auto-columns: 300px;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    padding: 10px;
    margin: auto;
}

.planet {
    width: 270px;
    border: 1px solid orange;
    padding: 10px;
}

.items {
    width: 250px;
    padding: 10px;
    border: 1px solid green;
}

span.left_column {
    font-weight: bold;
}

span.right_column {

}

.planet_img {

}

img {
    width: 70%;
    height: auto;
}

.notes-container {
    width: 425px;
    border: 1px solid green;
    padding: 10px;
}

.notes {
    border: 1px solid black;
    padding: 10px;
}

.note {
    border: 1px solid yellow;
    padding: 10px;
}