body {
    background-color: lightslategray;
}

h2 {
    text-align: center;
}

.container {
    background-color: white;
    width: 800px;
    margin: auto;
    border: 2px solid lightgray;
}

input {
    padding: 5px;
    font-size: 12px;
    border: 1px solid #333;
    margin: 5px;
}

.input-temp {
    width: 100px;
}

.input-orbit-days {
    width: 80px;
}

.edit-orbit-days {
    width: 80px;
}

.input-img {
    margin: 10px;
}

.filter {
    width: 300px;
    padding: 15px;
    margin: auto;
}

.filter button {
    margin-right: 5px;
}

filter button:last-child {
    margin-right: 0px;
}

.filter label {
    padding: 5px;
}

.add-planet-form {
    background-color: whitesmoke;
    width: 400px;
    border: 1px solid black;
    padding: 20px;
    margin: auto;
}

.add-planet-form .radio {
    background-color: white;
    border: 1px solid black;
    width: 150px;
    padding: 10px;
    text-align:center;
    margin: auto;
}

.add-planet-form textarea {
    resize: none;
    overflow: hidden;
    height: 30px;
    width: 350px;
}

.edit-planet-form textarea {
    resize: none;
    overflow: hidden;
    height: 30px;
    width: 200px;
}

.edit-planet-form .radio {
    padding: 10px;
}

button {
    background-color: lightgray;
}

button:hover {
    background-color: ghostwhite;
    cursor: pointer;
}

.add-planet-btn {
    padding: 5px;
    text-align: center;
}

.add-planet-btn button {
    background-color: gainsboro;
    height: 25px;
}

.add-planet-btn button:hover {
    background-color: darkslategrey;
    color: white;
    cursor: pointer;
}

.add-note-form {
    width: 350px;

    padding: 10px;
    margin: auto;
}

.add-note-form textarea {
    resize: none;
    overflow: hidden;
    height: 70px;
    width: 295px;
}

.edit-note-form textarea {
    resize: none;
    overflow: hidden;
    height: 70px;
    width: 350px;
}

.planet-container {
    width: 750px;
    display: grid;
    grid-template-areas: 'a a';
    grid-auto-columns: 300px;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    padding: 10px;
    margin: auto;
    border: 1px solid lightgray;
}

.planet {
    width: 280px;
    padding: 10px;
}

.items {
    width: 250px;
    padding: 10px;
}

span.left-column {
    font-weight: bold;
}

img {
    width: 70%;
    height: auto;
}

.notes-container {
    width: 425px;
    padding: 10px;
}

.notes {
    padding: 10px;
}

.note {
    border: 1px solid lightgray;
    padding: 10px;
}