* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

body {
    background-image: url(img/background.png);
}

h1 {
    margin: 5px;
}

p {
    margin: 5px;
}

.bounty-container {
    width: 445px;
    margin: auto;
}

.bounties {
    width: 410px;
    display: grid;
    grid-template-areas: 'a a';
    grid-auto-columns: 200px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    padding: 10px;
    margin: auto;
}

.bounty {
    background-color: whitesmoke;
    padding: 5px;
}

form {
    background-color: indianred;
    border: 1px solid #333;
    padding: 5px;
    border-radius: 20px;
}

input {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #333;
    border-radius: 8px;
    margin: 5px 1px 5px 0px;
}

input[type=number] {
    width: 112px;
}

button {
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
}

.blue-btn {
    background-color: lightsteelblue;
    color: black;
}

.btn-area {
    padding: 10px;
}

.radio {
    background-color: antiquewhite;
    width: 110px;
    height: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    display: inline-block;
    margin: 5px;
}

.radio-living {
    height: 40px;
}

label {
    font-weight: bold;
}

.filter {
    width: 300px;
    margin: auto;
    padding: 10px;
    text-align:center;
}

.filter-select {
    width: 200px;
    height: 40px;
    margin: auto;
}